node_modules/
.env
.env.local
.env*
.vercel
.DS_Store
.claude/
.design/shots/

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# next.js
/.next/
/out/
/build
/coverage
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
*.pem
